<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueeagle.migrainebuddyui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.IntroductionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:label="Notifications" />
        <activity
            android:name=".Activity.NotificationDetailActivity"
            android:label="Notification Detail" />
        <activity android:name=".Activity.MyRecordActivity" />
        <activity
            android:name=".Activity.SleepTimeActivity"
            android:label="Sleep Time"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.MigraineSummaryActivity" />
        <activity android:name=".Activity.TimeSelectionActivity"></activity>
    </application>

</manifest>